$nugget: #b2910e;
$white: #ffffff;
$lightGray: #cccccc;
$whiteSmoke: #f7f5f5;
$mediumDarkRed: #c00;
$retroBerry: #af0000;
$sweetLucidDreams: #cfc0e0;
$black: #000;
$darkCharcoal: #333;
$limeade: #6eb200;